.big-box {
  width: 80%;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-box {
  border: black solid 2px;
  width: 93%;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  color: #5d7580;
  background-color: rgb(241, 239, 239);
}
.sanaye {
  font-weight: bold;
  font-size: 50px;
}
.more {
  color: #5d7580;
  background-color: #e9e9e9;
  width: 6%;
  height: 50%;
  direction: rtl;
  display: flex;
  justify-content: center;
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
}
.bottom-box {
  border: purple solid 3px;
  width: 93%;
  height: 22em;
  background-color: rgb(241, 239, 239);
  display: inline-flex;

}
.small {
  height: 22em;
  width: 21em;
  border-radius: 20px;
  background-color: white;
  
}
.image {
    background-size: contain;
  object-fit: cover;
  width: 7em;
  height: 7em;
 margin-left:7em ;
  margin-top: 1em;
  border-radius: 100%;
}
.store {
  width: 10em;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  height: 5em;
  margin-left:5.5em ;

}
.city {
  display: flex;
  justify-content: center;
}
.botton {
  border: green 2px solid;
  width: 90%;
  border-radius: 20px;
  display: flex;
  margin-left: 1em;
  justify-content: center;
  direction: rtl;
  cursor: pointer;
  transition: all ease-in 0.2s;
  color: #26A65B;
}
.botton:hover {
    color: white;
    background-color: #26A65B;